body{
    background-color: rgb(38, 1, 49);
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    text-align: center;
    }
    .box{
      background-color: rgb(38, 1, 49);
      width: 500px;
      margin: 50px auto;
    }
    #title {
      font-size: 30px;
      margin-top: 25px;
    }
    #descricao{
      font-size:20px;
      margin: 20px auto;
    }
    #logo {
      margin-top: 0px;
      max-width: 250px;
      height: auto;
    }
    #logo-task {
      width: 75px;
    }
    .home {
        color: white;
        text-decoration: none;
    }